* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1c1b1b;
  color: white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav a, nav i {
  color: #fff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

nav a:hover {
  color: #039dff;
}

nav i {
  padding: 10px;
}

main {
  margin: 5vh 5vw 0 5vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 40% 20% 20%;
      grid-template-columns: 20% 40% 20% 20%;
  -ms-grid-rows: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
}

.articles {
  background-color: white;
  height: 19vh;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin: 0 1vw 3vw 0;
}

.music-notes {
  background-color: white;
  height: 19vh;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-right: 1vw;
}

.books {
  background-color: #de0012;
  height: 61.3vh;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.watches {
  background-color: white;
  height: 19vh;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  margin-left: 1vw;
}

.misc2 {
  background-color: #ffcc01;
  height: 19vh;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  margin-left: 1vw;
}

.cds {
  background-color: white;
  height: 19vh;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-right: 1vw;
}

.postcards {
  background-color: #0054de;
  height: 19vh;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-right: 1vw;
}

.coins {
  background-color: #de0012;
  height: 19vh;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  margin-left: 1vw;
}

.misc1 {
  background-color: #ffcc01;
  height: 19vh;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.text-box {
  background-color: white;
  height: 40vh;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  margin-left: 1vw;
}

.info {
  background-color: white;
  height: 19vh;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  margin-left: 1vw;
}

.angle {
  text-align: center;
  margin-top: 1vh;
  font-size: 1.7rem;
}
/*# sourceMappingURL=style.css.map */