/* Variables */
/* Global set-up */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1c1b1b;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

/* Header */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #1c1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 5vw;
}

header a, header i {
  color: #fff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

header a:hover {
  color: #039dff;
  cursor: pointer;
}

header i {
  padding: 10px;
  background-color: #1c1b1b;
}

header p {
  font-size: 2rem;
  margin-top: 2vh;
}

.bars {
  display: none;
}

.magnifier {
  font-size: 2rem;
  padding-top: 2vh;
  padding-bottom: 0;
}

.menu {
  font-size: 2rem;
  margin-top: 2vh;
}

.menu a {
  padding: 0 2vw;
  text-decoration: none;
}

.red-letter {
  color: #de0012;
}

.blue-letter {
  color: #0054de;
}

.yellow-letter {
  color: #ffcc01;
}

#titleBooks, #magnifierBooks, #menuBooks {
  font-size: 1.3rem;
}

#titleBooks > a {
  text-decoration: none;
}

input {
  position: absolute;
  top: 35%;
  right: 2.5%;
  color: black;
  width: 0;
  background-color: #1c1b1b;
  border: #1c1b1b;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.mag:hover > .inputM {
  width: 10vw;
  background-color: white;
}

/* Main site */
main {
  margin: 2vh 5vw 0 5vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 40% 20% 20%;
      grid-template-columns: 20% 40% 20% 20%;
  -ms-grid-rows: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
}

.small-box {
  height: 19vh;
  position: relative;
}

.white-box {
  background-color: white;
  color: black;
}

.text-position {
  position: absolute;
  bottom: 0.5vw;
  right: 0.5vw;
  font-size: 1.5rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.articles {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin: 0 1vw 3vw 0;
}

@-moz-document url-prefix() {
  .articles {
    margin: 0 1vw 1vw 0;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .articles {
    margin: 0 1vw 1vw 0;
  }
}

.music-notes {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-right: 1vw;
}

@-moz-document url-prefix() {
  .music-notes {
    margin-bottom: 1vw;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .music-notes {
    margin-bottom: 1vw;
  }
}

.books {
  background-color: #de0012;
  height: 61.3vh;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 90% 10%;
      grid-template-rows: 90% 10%;
}

.booksTop {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.boxImg {
  margin: auto;
  top: 0;
  bottom: 0;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  position: absolute;
}

.smallBoxImg {
  max-height: 13vh;
  width: 27%;
}

.longBoxImg {
  max-height: 13vh;
  width: 16%;
}

.booksImg {
  max-height: 30vh;
  width: 30%;
}

.default-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.pic1-books {
  left: 5%;
}

.pic1-small-box {
  left: 9.5%;
}

.pic1-long-box {
  left: 12.5%;
}

.pic2-books {
  max-height: 35vh;
  left: 35%;
}

.pic2-small-box {
  max-height: 17vh;
  left: 36.5%;
}

.pic2-long-box {
  left: 27.5%;
  max-height: 17vh;
}

.pic3-books {
  left: 65%;
}

.pic3-small-box {
  left: 63.5%;
}

.pic3-long-box {
  left: 42%;
}

.pic4-long-box {
  left: 56.5%;
  max-height: 17vh;
}

.pic5-long-box {
  left: 71%;
}

.invisibility {
  display: none;
}

.invisibilityTop {
  opacity: 0;
}

.animation {
  -webkit-animation: fade 2s;
          animation: fade 2s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.watches {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  margin-left: 1vw;
}

.misc2 {
  background-color: #ffcc01;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  margin-left: 1vw;
}

.cds {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-right: 1vw;
}

@-moz-document url-prefix() {
  .cds {
    margin-bottom: 1vw;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cds {
    margin-bottom: 1vw;
  }
}

.postcards {
  background-color: #0054de;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-right: 1vw;
}

.coins {
  background-color: #de0012;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  margin-left: 1vw;
}

.misc1 {
  background-color: #ffcc01;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.text-box {
  height: 40vh;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  margin-left: 1vw;
  padding: 1vw;
  padding-top: 5vh;
  -webkit-transition: opacity .8s, -webkit-transform .8s;
  transition: opacity .8s, -webkit-transform .8s;
  transition: transform .8s, opacity .8s;
  transition: transform .8s, opacity .8s, -webkit-transform .8s;
}

.text-box h2 {
  padding-bottom: 1vw;
}

.text-box p {
  letter-spacing: 0.15vw;
  text-align: justify;
}

.info {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  margin-left: 1vw;
  font-size: 1.2rem;
  padding: 0.5vw;
  letter-spacing: 0.25vw;
  line-height: 4.25vh;
  -webkit-transition: opacity 0.8s, -webkit-transform .8s;
  transition: opacity 0.8s, -webkit-transform .8s;
  transition: transform .8s, opacity 0.8s;
  transition: transform .8s, opacity 0.8s, -webkit-transform .8s;
}

.info span {
  font-weight: bold;
}

.box-hover {
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: transform 0.8s, opacity 0.8s;
  transition: transform 0.8s, opacity 0.8s, -webkit-transform 0.8s;
}

.box-hover:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 1;
  cursor: pointer;
}

.books:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}

.misc1:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  cursor: pointer;
}

.shadow {
  opacity: 0.5;
}

/* Books */
.list-box {
  margin: 1vw 1vw;
  position: relative;
  height: 35vh;
  display: inline-block;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.list-box img {
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
  top: 0;
  bottom: 0;
  position: absolute;
}

.list-box:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 2;
}

.list-box:hover > .boxPrice {
  font-size: 0.8rem;
  padding-left: 0.3vw;
}

.list-box:hover > .boxTitle {
  opacity: 1;
  font-size: 0.8rem;
}

.list-box:hover > .cartIcon {
  opacity: 1;
}

.boxShadow {
  background-color: rgba(28, 27, 27, 0.7);
  color: white;
  font-weight: 500;
  position: absolute;
}

.boxPrice {
  bottom: 0;
  width: 100%;
  padding: 0.5vw 0 0.5vw 0.8vw;
  -webkit-transition: font-size .5s, padding-left .5s;
  transition: font-size .5s, padding-left .5s;
}

.boxTitle {
  bottom: 11.6%;
  opacity: 0;
  width: 100%;
  padding: 0.5vw 0.3vw 0.5vw 0.3vw;
  -webkit-transition: font-size .5s, opacity .5s ease-in-out;
  transition: font-size .5s, opacity .5s ease-in-out;
}

.cartIcon {
  bottom: 2%;
  right: 5%;
  z-index: 3;
  font-size: 1.3rem;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

/* List */
.listMain {
  margin: 1vh 15vw 0 15vw;
  text-align: justify;
}

.listTitle {
  margin: auto;
  font-size: 3.5rem;
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  color: white;
}

.listTitleDiv {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 10vh 25vw 10vh 25vw;
  min-height: 20vh;
  color: black;
  text-align: center;
}

.listFirstButton {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  background-color: white;
  border: 5px solid #1c1b1b;
  line-height: 3.5vh;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.listSecondButton {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  background-color: white;
  border: 5px solid #1c1b1b;
  line-height: 3.5vh;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.listThirdButton {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  background-color: white;
  border: 5px solid #1c1b1b;
  line-height: 3.5vh;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.listOtherButtons {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.listOtherButtonsDivs {
  background-color: white;
  border: 5px solid #1c1b1b;
  width: 25%;
  line-height: 3.5vh;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.listFirstButton:hover, .listSecondButton:hover, .listThirdButton:hover, .listOtherButtonsDivs:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
/*# sourceMappingURL=style.css.map */